<section class="mt-5">
  <table class="table table-md">
    <thead>
    <tr>
      <th>#</th>
      <th>Icono</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Población</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for(country of countries(); track country.cca2; let index = $index) {
          <tr>
            <td>{{index+1}}</td>
            <td>{{ country.flag }}</td>
            <td>
              <img class="w-10" [src]="country.flagSvg" [alt]="country.name">
            </td>
            <td>
              {{country.name}}
            </td>
            <td>
              {{country.capital}}
            </td>
            <td>
              <span class="badge badge-secondary">{{country.population | number}}</span>
            </td>
            <td>
              <a  [routerLink]="['/country/by', country.cca2]"
                  class="link-primary">Más información </a>
            </td>
          </tr>
      }
      @if (errorMensangue()) {
        <tr>
          <td colspan="8" class="text-center">
              {{ errorMensangue() }}
          </td>
        </tr>
      }
    <!-- Si no hay resultados -->
      @if (countries().length ==0 && !isLoading()) {
        <tr>
          <td colspan="8" class="text-center">
            No hay resulrados
          </td>
        </tr>
      }
    <!-- Fin Si no hay resultados -->
      @if (isLoading()){
        <tr>
          <td colspan="8" class="text-center">
            buscando paisces
          </td>
        </tr>
      }

    </tbody>
  </table>
</section>
